{% extends 'base.html' %}

{% block students %}
<head>

	<title>Login Page</title>

    {% load static %}
	<!--Custom styles-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'users.css'%}">
</head>

{% include "advisor_navbar.html" %}

<div class="container">

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr>
							<th>Student Name</th>
							<th>Student Id</th>
							<th>Student Major</th>
							<th>Operation</th>
						</tr>
					</thead>
					<tbody>
                        {% for student in students %}
                            <tr>
							<td>
								<img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
								<a href="#" class="user-link">{{ student.3 }}</a>
								<span class="user-subhead">Student</span>
							</td>

							<td>
								{{ student.2 }}
							</td>
                                <td>
								{{ student.1 }} - {{ student.0 }}
							</td>
                            <td>
                                <a href="student/edit_student/{{ student.2 }}" class="table-link">
									Edit Student
								</a>
                            </td>
						</tr>
                        {% endfor %}
					</tbody>
				</table>
			</div>
			<ul class="pagination pull-right">
				<li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
			</ul>
		</div>
	</div>
</div>
</div>

{% endblock %}