{% extends 'base.html' %}


{% block list %}
{% include "admin_navbar.html" %}
<header>
  {% load static %}
    <link rel="stylesheet" href="{% static 'addCourse.css'%}">
</header>
<div class="container bootstrap snippets bootdey">
    <h1 class="text-primary">Edit Class</h1>
      <hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar img-circle img-thumbnail" alt="avatar">
          <h6>Upload a different photo...</h6>

          <input type="file" class="form-control">
        </div>
      </div>

      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Class info</h3>

        <form method = "POST" action="update" class="form-horizontal" role="form">
          {% csrf_token %}
          <div class="form-group">
            <label class="col-lg-3 control-label">Class Name</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="name" value="{{data.1}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Professor ID:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name = "professor_id" value="{{data.2}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Start Date</label>
            <div class="col-lg-8">
              <input class="form-control" type="date" name = "start_date" value="{{data.3}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Duration:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name = "duration" value="{{data.4}}">
            </div>
          </div>
                    <div class="form-group">
            <label class="col-lg-3 control-label">Room Id:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name = "room_id" value="{{data.5}}">
            </div>
          </div>
                    <div class="form-group">
            <label class="col-lg-3 control-label">College_id:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name = "college_id" value="{{data.6}}">
            </div>
          </div>
                    <div class="form-group">
            <label class="col-lg-3 control-label">Credit:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name = "credit" value="{{data.7}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Time Zone:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select id="user_time_zone" class="form-control">
                  <option value="Hawaii">(GMT-10:00) Hawaii</option>
                  <option value="Alaska">(GMT-09:00) Alaska</option>
                  <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                  <option value="Arizona">(GMT-07:00) Arizona</option>
                  <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                  <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                  <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                  <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                </select>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
  </div>
</div>
<hr>

{% endblock %}