{% extends 'base.html' %}

{% block enroll %}
{% include "admin_navbar.html" %}
<header>
  {% load static %}
  <link rel="stylesheet" href="{% static 'enrollPage.css'%}">
</header>
<div class="container">
<div class="col-12 col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="container">
            <div class="row">
              <div class="col">
                 <h4>Course Management System</h4>
              </div>
              <div class="col">
              </div>
              <div class="col text-right">
                <a class="btn btn-primary" href="create" role="button">Add Class</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="media-list position-relative">
            <div class="table-responsive" id="project-team-scroll" tabindex="1" style="height: 800px; outline: none;">
              <table class="table table-hover table-xl mb-0">
                <thead>
                  <tr>
                    <th>Course Name</th>
                    <th>Start Date</th>
                    <th>Duration</th>
                    <th>Room</th>
                    <th>Credit</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for class in data %}
                  <tr>
<!--                    course name-->
                    <td class="text-truncate">{{class.1}}</td>
<!--                    start date-->
                    <td class="text-truncate">{{class.3}} </td>
<!--                    duration-->
                    <td class="text-truncate">{{class.4}} hours</td>
<!--                    room number-->
                    <td class="text-truncate">{{class.5}}</td>
<!--                    credits-->
                    <td class="text-truncate">{{class.7}}</td>
                    <td>
                       <a href = 'course/edit/{{class.0}}'><i class="fa-solid fa-pen-to-square"></i></a>
                       <a href = 'course/delete/{{class.0}}'><i class="fa-solid fa-trash"></i></a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}