{% extends 'base.html' %}

{% block enroll %}
{% include "navbar.html" %}
<header>
  {% load static %}
  <link rel="stylesheet" href="{% static 'enrollPage.css'%}">
</header>
<div class="container">
<div class="col-12 col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Enroll Class  </h4>
        </div>
        <div class="card-body">
        <h5 class="card-title">Credit Limit : {{ credit_limit }} </h5>
          <div class="media-list position-relative">
            <div class="table-responsive" id="project-team-scroll" tabindex="1" style="height: 800px; outline: none;">
              <table class="table table-hover table-xl mb-0">
                <thead>
                  <tr>
                    <th>Course Name</th>
                    <th>Course Id</th>
                    <th>Start Date</th>
                    <th>Duration</th>
                    <th>Room</th>
                    <th>Credit</th>
                    <th>Add</th>
                  </tr>
                </thead>
                <tbody>
                  {% for class in data %}
                      <form method="POST" action="enroll/{{ class.0 }}" role="form">{% csrf_token %}
                          <tr>
                            <td class="text-truncate">{{class.1}}</td>
                            <td class="text-truncate">{{class.0}}</td>
                            <td class="text-truncate">Start Date: {{class.3}} </td>
                            <td class="text-truncate">Duration: {{class.4}} hours</td>
                            <td class="text-truncate">Room number: {{class.5}}</td>
                            <td class="text-truncate">Credits: {{class.7}}</td>
                            <td class="candidate-list-favourite-time text-center">
                                {% if class.8 == None %}
                                    <button class="btn btn-primary" type="submit">Add</button>
                                {% else %}
                                    registered
                                {% endif %}
                            </td>
                          </tr>
                      </form>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}