{% extends 'base.html' %} {% block home %}

<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title>Bootstrap</title>

  <!-- Bootstrap core CSS -->

  <!-- Custom styles for this template -->
  <link href="offcanvas.css" rel="stylesheet" />
</head>

<main role="main" class="container">
  {% include "navbar.html" %}

  <h1 class="my-2 pt-2">Welcome, {{ user.1 }} (Student)!</h1>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Most Registered Courses </h6>
    {% for courseID in top %}
    <div class="media text-muted pt-3">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray font-weight-bold">
        Course ID: {{ courseID.0 }} <br/>
        Course Name: {{courseID.2}}
      </p>
    </div>
    {% endfor %}
  </div>
</main>

{% endblock %}
